.upcom
{
    display: flex;
    background-color: #ff9999;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
}

.gridUpcom{
    display: flex;

}
.gridRelease
{
    display: flex;
}
.releaseList
{
    width:76%;
    height: fit-content;
    margin: 16px;

}
.filter
{
    width:24%;
    height: fit-content;
    margin: 16px;
    display: flex;
    justify-content: center;
}
